body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}

.topHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  height: 60px;
  text-align: center;
}

.companyLogoImg {
  margin-left: 50px;
}

.navigation {
  display: flex;
  margin-right: 50px;
  justify-content: center;
  align-items: center;
}

.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  height: 60px;
  text-align: center;
}

.nav__link:not(:last-child) {
  margin-right: 20px;
}

.nav__link:hover {
  color: #00acdc;
}

.is-active {
  position: relative;
  color: #00acdc;
}

.is-active::after {
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: '';
  border-top: 4px solid #00acdc;
  border-radius: 8px;
}
